#activities{
     width: 100%;
     background-color: black;
     display: flex;
     flex-direction: column;
     text-align: center;
     height: fit-content;
     margin-bottom: 0px;
}
#activities_main_title{
     text-align: center;
     padding-bottom: 16px;
     background-color: #121726;
}
#wrapper-activities{
     margin-top: 20px;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 14px;
     
}
.card-activities{
     display: flex;
     justify-content: center;
     flex-direction: row;
}
.card-activities img{
     margin: 20px;
     border-radius: 15px;
}
.card-activities-img-container img{
     width: 280px;
     height: 240px;
}
.card-activities-text-container{
     text-align: left;
     padding: 30px 30px;
     font-size: 20px;
}
/* mobile  */
@media only screen and (max-width: 1000px) {
     .card-activities{
          flex-wrap: wrap;
          justify-content: center;
     }
}

@media only screen and (max-width: 800px) {
     .card-activities-text-container{
          padding: 30px 30px;
          font-size: 18px;
     }
     .card-activities{
          flex-wrap: wrap;
          justify-content: center; 
     }
     .card-activities img{
          margin: 0px;
          margin-left: 10px;
          width: 160px;
          height: 160px;
          flex-direction: row;
     }
  
}


